/* variables */
:root {
  --primary: #ff0000;
  --white: #ffffff;
  --white-alpha: rgba(255, 255, 255, 0.80);
  --dark: #070211;
  --dark-alpha: rgba(7, 2, 17, 0.6);
}

/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Merriweather', serif;
}

header,
main {
  max-width: 1320px;
  margin: auto;
}

section {
  padding: 50px 0;
}

/* reusable */

.primary-btn {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 16px 32px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s;
}

.section-subtitle {
  color: var(--primary);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;

}

.section-title {
  color: var(--dark);
  font-size: 48px;
  margin: 16px 0 22px;
  font-weight: 900;
  text-transform: capitalize;
}

.section-desc {
  color: var(--dark-alpha);
  line-height: 32px;
}

/* header start */

header {
  height: 600px;
  margin: 50px auto;
  background-image: linear-gradient(to bottom, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assets/images/Banner-Image.png');
  border-radius: 16px;
  border-radius: 16px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-info {
  text-align: center;
  text-transform: capitalize;
}

.greeting {
  font-size: 25px;
}

.main-title {
  width: 60%;
  margin: auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 75px;
}

/* header end */

/* main start */

/* discunt section start */

.discount {
  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

.discount-amount {
  color: var(--primary);
  font-size: 65px;
  padding-bottom: 20px;
}

.discount-desc {
  color: var(--primary);
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}

.category-title {
  color: var(--dark);
  font-size: 35px;
  margin-bottom: 36px;
}

.discount img {
  max-width: 600px;
}

/* discunt section end */

/* party welcome section start */

.party-welcome {
  display: flex;
  align-items: center;
  padding: 100px;
  background-image: linear-gradient(to right, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../assets/images/Vectorrr.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.party-welcome-title {
  width: 60%;
  color: var(--white);
  font-size: 48px;
  font-weight: 900;
  line-height: 66px;
  letter-spacing: 6px;
}

.party-welcome-desc {
  color: var(--white-alpha);
  line-height: 30px;
}

.join-now-btn {
  margin-top: 30px;
}

.join-now-btn:hover {
  color: var(--primary);
}

/* party welcome section end */

/* best offer section start */

.best-offer {
  display: flex;
  align-items: center;
}

.best-offer div {
  flex: 1;
}

.best-offer-info.img {
  text-align: center;
}

.best-offer-info.img img {
  width: 350px;
  border: 15px solid var(--primary);
  border-radius: 50%;
  padding: 30px;
}

.best-offer-info.right .section-title {
  color: var(--primary);
  margin-bottom: 16px;
}

.best-offer-info.right {
  padding-left: 30px;
}

.best-offer-info.right img {
  margin-top: 40px;
}

/* best offer section end */

/* portfolio section start */

.portfolio-info {
  max-width: 70%;
  margin-bottom: 48px;
}

.portfolio-items-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.portfolio-items-container .row {
  display: flex;
  justify-content: space-between;
}

.portfolio-item {
  border-radius: 16px;
  overflow: hidden;
}

/* portfolio section end */

/* newsletter section start */

.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 80px 200px;
}

.newsletter .section-title {
  margin-top: 40px;
}

.newsletter .section-desc {
  margin: 22px 10px 48px;
}

.newsletter-subscribe-form {
  width: 60%;
  margin: auto;
  display: flex;
}

.newsletter-subscribe-form input {
  border: none;
  outline: none;
}

.newsletter-subscribe-form input[type="email"] {
  color: rgba(7, 2, 17, 0.30);
  font-size: 18px;
  padding: 20px 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  flex-grow: 8;
}

.newsletter-subscribe-form input[type="submit"] {
  background-color: var(--primary);
  color: var(--white);
  font-size: 20px;
  padding: 20px 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  flex-grow: 2;
}

/* newsletter section end */

/* main end */

/* footer start */

footer {
  background-color: var(--dark);
  color: var(--white);
}

footer .container {
  max-width: 1320px;
  margin: auto;
  padding: 100px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.contact-info.top {
  padding-bottom: 30px;
}

.contact-address {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

.contact-links div {
  display: flex;
  gap: 16px;
  align-items: center;
}

.web-address {
  text-transform: lowercase;
}

.contact-links div a {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}

footer .divider {
  border: 1px solid rgba(255, 255, 255, 0.15);
  ;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 40px 0;
}

.social-link-item img {
  width: 50px;
}

.contact-info.bottom {
  padding-top: 30px;
  padding-bottom: 0px;
}

.unsubscribe-btn {
  border-color: var(--white);
  text-transform: capitalize;
}

.unsubscribe-btn:hover {
  background-color: var(--white);
  color: var(--dark);
}

/* footer end */